{% extends 'base.html' %}

{% block content %}
  <h1 class="mb-4">Registros de Manutenção</h1>
    {% if user.is_superuser %}
  <a href="{% url 'create-maintenance' %}" class="btn btn-primary mb-3">
    <i class="fas fa-plus-circle"></i> Novo Registro
  </a>
    {% endif %}

  <table class="table table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Imóvel</th>
        <th>Data Agendada</th>
        <th>Data de Conclusão</th>
        <th>Custo</th>
        <th>Status</th>
        <th>Descrição</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for maintenance in maintenance %}
        <tr>
          <td>{{ maintenance.id }}</td>
          <td>{{ maintenance.property.name }}</td>
          <td>{{ maintenance.scheduled_date }}</td>
          <td>{{ maintenance.completion_date }}</td>
          <td>R$ {{ maintenance.cost }}</td>
          <td class="{% if maintenance.status == 'Em Manutenção' %}text-warning{% elif maintenance.status == 'Completado' %}text-success{% elif maintenance.status == 'Agendado' %}text-primary{% else %}text-secondary{% endif %}">
            {{ maintenance.status }}
          </td>
          <td>{{ maintenance.description }}</td>

        <td>
             {% if user.is_superuser %}
              <!-- Update Button -->
              <a href="{% url 'admin-update-maintenance' maintenance.pk %}" class="btn btn-primary btn-sm">
                <i class="fas fa-edit"></i> Editar
              </a>
            {% else %}
            <a href="{% url 'update-maintenance' maintenance.pk %}" class="btn btn-primary btn-sm">
                <i class="fas fa-edit"></i> Editar
              </a>
            {% endif %}
            {% if user.is_superuser %}
              <!-- Delete Form -->
              <a href="{% url 'maintenance-confirm-delete' maintenance.pk %}" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash"></i> Excluir
                    </a>
            {% endif %}
            </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="8" class="text-center">Nenhuma Manutenção Registrada</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
