{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid p-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-danger">
                    <div class="card-header bg-light text-danger text-center">
                        <h4 class="mb-0"><i class="fas fa-exclamation-triangle"></i> Exclusão de Manutenção</h4>
                    </div>
                    <div class="card-body">
                        <p class="lead mb-4">Tem certeza que deseja excluir permanentemente essa manutenção de
                         <strong>"{{ maintenance.property.name }}"</strong>?</p>
                        <form method="post">
                            {% csrf_token %}
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-danger flex-fill mr-2">
                                    <i class="fas fa-trash"></i>
                                    Sim, excluir
                                </button>
                                <a href="{% url 'list-maintenance' %}" class="btn btn-secondary flex-fill ml-2">
                                    <i class="fas fa-arrow-left"></i>
                                    Não, cancelar
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}